@model List<BookCopyModel>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Borrower</th>
            <th scope="col">Due date</th>
            <th scope="col">Overdue by</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var copy in Model)
        {
            <tr class="@(!copy.IsAvailable() && copy.OverdueTime().Days >= 1 ? "table-danger" : "")">
                
                <th scope="row">@copy.Id</th>
                
                @if (!copy.IsAvailable())
                {
                    <td>@copy.Borrower.Name</td>
                    <td>@copy.DueDate</td>
                    @if (copy.OverdueTime().Days >= 1)
                    {
                        <td>@copy.OverdueTime().Days days</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    
                    <td>
                        @using (Html.BeginForm("CheckInCopy", "Book", FormMethod.Post))
                        {
                            <input type="hidden" id="checkInId" name="Id" value=@copy.Id>
                            <button type="submit" class="btn btn-primary">Check in</button>
                        }
                    </td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkOutModal" data-copy-id="@copy.Id" onclick="setModalValue(@copy.Id)">Check out</button>
                    </td>
                }
                
                <td>
                    @using (Html.BeginForm("DeleteCopy", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="deleteId" name="id" value=@copy.Id>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="checkOutModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkOutModalLabel">Check out copy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            @using (Html.BeginForm("CheckOutCopy", "Book", FormMethod.Post))
            {
                <input type="hidden" id="checkOutFormId" name="Id" value="">
                <div class="modal-body">
                    
                    <div class="mb-3">
                        <label for="borrower" class="form-label">Borrower</label>
                        <select class="form-select" id="borrower" name="BorrowerId">
                            <option disabled selected>Choose borrower</option>
                            <option value="1">Member1</option>
                            <option value="2">Member2</option>
                            <option value="3">Member3</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="dueDate" class="form-label">Due date</label>
                        <input type="date" class="form-control" id="dueDate" name="DueDate" value="@DateTime.Today.AddDays(7).ToString("yyyy-MM-dd")">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Check out</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
function setModalValue(id) {
  document.getElementById("checkOutFormId").value = id;
}
</script>