@model List<BookModel>
@{
    var currentAction = (ViewContext.RouteData.Values["action"] ?? "Catalogue").ToString();
}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            @foreach (var property in typeof(BookModel).GetProperties())
            {
                <th scope="col" class="sort-header">
                    @property.Name
                    @if (currentAction == "Catalogue")
                    {
                        @using (Html.BeginForm(currentAction, "Book", FormMethod.Post))
                        {
                            <input type="hidden" name="orderBy" value="@property.Name" />
                            <button type="submit" class=""><i class="bi bi-sort-alpha-down"></i></button>
                        }
                    }
                </th>
            }
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                @foreach (var property in typeof(BookModel).GetProperties())
                {
                    if (property.Name != "Id")
                    {
                        <td>@property.GetValue(book)</td>
                    }
                }
                <td>
                    <input type="button" value="View Copies" class="btn btn-primary" onclick="location.href='@Url.Action("ViewCopies", "Book", new { Id = book.Id })'" />
                </td>
                <td>
                    <input type="button" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("EditBook", "Book", new { id = book.Id })'" />
                </td>
                <td>
                    @using (Html.BeginForm("DeleteBook", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="id" name="id" value=@book.Id>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>