@model Bookish.Models.BookModel
@{
    ViewData["Title"] = "Edit Book";
}

<div class="text-center">
    <h1 class="display-4">Edit a Book</h1>
    <div> Book ID: @Model.Id </div>

    <div class="col">
        @using (Html.BeginForm("EditBook", "Book", FormMethod.Post))
        {
            @foreach (var property in typeof(BookModel).GetProperties())
            {
                if (property.Name != "Id")
                {
                    <div class="mb-3">
                        <label for="@property.Name" class="form-label">@DisplayService.FormatPropertyName(property.Name)</label>
                        <input type="text" class="form-control" id="@property.Name" name="@property.Name" value="@property.GetValue(Model)">
                    </div>
                }
            }
            <input type="hidden" id="id" name = "Id" value="@Model.Id">
            <button type="submit" class="btn custom-btn-primary">Submit</button>
        }
    </div>
</div>