@model List<BookCopyModel>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Due date</th>
            <th scope="col">Overdue by</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var loan in Model)
        {
            <tr class="@(loan.OverdueTime().Days >= 1 ? "table-danger" : "")">
                
                <td>@loan.Book.Author</td>
                <td>@loan.Book.Title</td>
                <td>@loan.DueDate.Value.ToShortDateString()</td>
                <td>@(loan.OverdueTime().Days >= 1 ? $"{loan.OverdueTime().Days} days" : "")</td>
                <td>
                    @using (Html.BeginForm("RenewCopy", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="checkInId" name="Id" value=@loan.Id>
                        <button type="submit" class="btn custom-btn-primary">Renew</button>
                    }
                </td>
                <td>    
                    @using (Html.BeginForm("CheckInCopy", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="checkInId" name="Id" value=@loan.Id>
                        <button type="submit" class="btn btn-secondary">
                            <i class="bi bi-box-arrow-in-down"></i>
                            Check in
                        </button>
                    }
                </td>
                
            </tr>
        }
        </tbody>
    </table>
</div>