@model Bookish.Models.MemberModel
@{
    ViewData["Title"] = "Edit Member";
}

<div class="text-center">
    <h1 class="display-4">Edit member</h1>
    <br/>
    <div class="lead"> Member ID: @Model.Id </div>
</div>
<br/>

<div class="row">
    <div class="col"></div>
    <div class="col">
        @using (Html.BeginForm("EditMember", "Member", FormMethod.Post))
        {
            @foreach (var property in typeof(MemberModel).GetProperties())
            {
                if (property.Name != "Id")
                {
                    <div class="mb-3">
                        <label for="@property.Name" class="form-label">@DisplayService.FormatPropertyName(property.Name)</label>
                        <input type="@DisplayService.GetInputType(property.Name)" class="form-control" id="@property.Name" name="@property.Name" value="@property.GetValue(Model)">
                    </div>
                }
            }
            <input type="hidden" id="id" name = "Id" value="@Model.Id">
            <button type="submit" class="btn custom-btn-primary">Submit</button>
        }
    </div>
    <div class="col"></div>
</div>