@model List<MemberModel>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@Html.Partial("_DeleteModal", new {Action = "DeleteMember", Controller = "Member", Type = "member"})

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            @Html.Partial("SearchMembersResultTableHeader", "Id")
            @foreach (var property in typeof(MemberModel).GetProperties().Where(p => p.Name != "Id"))
            {
                @Html.Partial("SearchMembersResultTableHeader", property.Name)
            }
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <th scope="row">@member.Id</th>
                @foreach (var property in typeof(MemberModel).GetProperties())
                {
                    if (property.Name != "Id")
                    {
                        <td>@DisplayService.FormatPropertyValue(
                                property.Name,
                                (property.GetValue(member) ?? "").ToString()
                                )</td>
                    }
                }
                <td>
                    <button type="button"
                            class="btn custom-btn-primary"
                            onclick="location.href='@Url.Action("ViewLoans", "Member", new { id = member.Id })'">
                        <i class="bi bi-book"></i>
                        View Loans
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-secondary"
                            onclick="location.href='@Url.Action("EditMember", "Member", new { id = member.Id })'">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            onclick="setValue('deleteFormId', @member.Id); setHtml('deleteFormName', '@member.Name')">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>