@model List<MemberModel>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            @Html.Partial("SearchMembersResultTableHeader", "Id")
            @foreach (var property in typeof(MemberModel).GetProperties().Where(p => p.Name != "Id"))
            {
                @Html.Partial("SearchMembersResultTableHeader", property.Name)
            }
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <th scope="row">@member.Id</th>
                @foreach (var property in typeof(MemberModel).GetProperties())
                {
                    if (property.Name != "Id")
                    {
                        <td>@property.GetValue(member)</td>
                    }
                }
                <td>
                    @using (Html.BeginForm("EditMember", "Member", FormMethod.Get))
                    {
                        <input type="hidden" id="id" name="id" value=@member.Id>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteMember", "Member", FormMethod.Post))
                    {
                        <input type="hidden" id="id" name="id" value=@member.Id>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>